In [6]:
import pandas as pd
import scipy.stats as stats

In [1]:
group1 = [20, 23, 21, 25, 18, 17, 18, 24, 20, 24, 23, 19]
group2 = [24, 25, 21, 22, 23, 18, 17, 28, 24, 27, 21, 23]

In [3]:

#perform the Mann-Whitney U test
stats. mannwhitneyu(group1, group2)

MannwhitneyuResult(statistic=50.0, pvalue=0.21138945901258455)

In [10]:
df=pd.read_csv('AB_Test_Results.csv')

In [8]:
df

      USER_ID VARIANT_NAME  REVENUE
0         737      variant      0.0
1        2423      control      0.0
2        9411      control      0.0
3        7311      control      0.0
4        6174      variant      0.0
...       ...          ...      ...
9995     1981      control      0.0
9996      502      variant      0.0
9997     9214      variant      0.0
9998     7741      control      0.0
9999     9468      control      0.0

[10000 rows x 3 columns]

In [9]:
import numpy as np
import pandas as pd
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind
from scipy.stats import norm
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.auto import tqdm
import seaborn as sns
from scipy.stats import pearsonr
from scipy.stats import shapiro

ModuleNotFoundError: No module named 'tqdm'

AB-тест — это эксперимент, который используется большинством крупных компаний для оценки запуска нового функционала. При анализе и проведении эксперимента могут возникнуть различные трудности. В этом наборе данных и анализе приведены несколько типичных проблемных случаев из реальной жизни.

In [11]:
df.describe()

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000

In [14]:
df.REVENUE.value_counts()

0.00     9848
1.25       10
1.01        6
3.25        6
0.04        5
         ...
2.19        1
2.14        1
17.08       1
2.00        1
2.92        1
Name: REVENUE, Length: 101, dtype: int64

In [ ]:
#считаем количество пользователей, которые попали одновременно в 2 группы

In [16]:
double_variant_count = df.groupby('USER_ID')['VARIANT_NAME'].nunique()
double_variant_count

USER_ID
2        1
3        2
4        1
5        1
6        1
        ..
9993     1
9995     1
9996     2
9998     1
10000    2
Name: VARIANT_NAME, Length: 6324, dtype: int64

In [17]:
double_variant_count = df.groupby('USER_ID')['VARIANT_NAME'].nunique().value_counts()
double_variant_count

1    4783
2    1541
Name: VARIANT_NAME, dtype: int64